html , body{
	font-family: segoe UI!important;
}
.card {
  /*adding: 16px;*/
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  margin: 15px 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); 
}

.navbar-fixed-top, #navbar, #myTab {
  background-color:#00796b !important;
  border: none!important;
}
.dropdown-menu{
   background-color:#2D757E !important;
}
.dropdown-menu li:hover {
  background-color: #00796b!important;
}
.dropdown-toggle{
  background-color:#00796b !important;
}
ul .active a{
  background-color:#2D757E !important;
  border: none!important;
}
.nav li a, .navbar-brand{
  color: #fff!important;
}
.nav li a:hover{
  background-color:#2D757E !important;
  border: none!important;
}
.nav-tabs li a:hover{
   background-color:#2D757E !important;
  border: none!important;
}
.navbar-inverse{
  border: none!important;
  border-radius: 0px!important;
  background-color:#2D757E !important;
}
.navbar-inverse ul{
  display: inline-flex;
  padding: 10px 50px;
  list-style: none;
}
.dropdown-toggle img{
  width: 30px!important;
  height: 30px!important;
  padding: 0px!important;
}
#sercher-view{
  margin-top: -40px!important;
}
#country_list_id{
 color: #fff;
  padding: 20px;
} 
 #panel_post{
 	width: 100%;
   margin-top: -20px!important;
 }
.tab-pane {
  width: 100%!important;
  margin: 0px;
}

#mauni{
  padding: 5px;
}
.itemed{
  color: #00796b!important;
}
.phoned{
  padding: 0px;
  color: #2D757E;
}
#mauni li h5{
  font-size: 12px;
 
}
#mauni .col-md-8 ,#mauni .col-md-4{
  padding: 2px;
}
.ad-posted{
  color: #2D757E!important;
  font-weight: 600!important;
}
.container .row-eq-height .col-md-9 .col-md-4 .col-md-3 img{
  width: 60px;
  height: 60px;
}
.also-like{
  color: #00796b!important;
}
#post-view{
  padding: 0px;
}
#post-view .col-sm-3 {
  padding:0px!important;
}
#item-single{
  padding: 0px!important;
}
.post-solo {
  padding: 7px!important;
}
footer .col-md-12{
  color: #fff;
  padding: 20px;
  width: 100%;
  background-color: #00796b!important;
}









